@page
@model WebApplication1.Pages.DetailPageModel
@{
}
<style>
    .layout{
        display:grid;
        /* grid-template-columns: repeat(6, 1fr); */
        grid-template-columns: repeat(6, minmax(200px, 1fr));
    }
    .column2{
        grid-column: 5 / -1;
        padding: 5px;
        background-color:#183480;
        height:100%;
    }
    .column1{
        grid-column: 1 / 5;
        padding: 2em;
    }
    #title{
        font-size:400%;
        background-color:#172b61;
        padding: 10px;
    }
    #categories{
        font-size:100%;
        background-color:#172b61;
    }
</style>
<div class="layout" data-movieRef="">
    <div class="column1">
        <h1 id="title">Oppenheimer</h1>
        <lable id="categories">categories</lable>
        <h2 style="margin:0px; padding:10px; Width:100%; word-wrap:normal; background-color:#172b61;">Summery</h2>
        <p style="margin:0px; padding:10px; background-color:#172b61;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac imperdiet turpis. Nullam ultricies a nisl sit amet hendrerit. Pellentesque ultricies enim id erat consequat, ut mollis odio maximus. Vivamus ac vehicula metus. Cras suscipit, nisi eleifend finibus porta, metus tortor lacinia dolor, in mattis eros felis at urna. Nullam et turpis vitae erat egestas fringilla vitae ac nibh. Morbi elementum quam sed mi consectetur, malesuada sollicitudin nulla vehicula. Morbi eget tellus ac orci blandit commodo eu vel ante. Nunc malesuada eu nulla eu eleifend. Nam volutpat turpis vitae fermentum aliquet. Pellentesque efficitur nibh et magna luctus aliquet nec eu nibh.
            Morbi luctus ac purus quis auctor. Integer vel mi dui. In hac habitasse platea dictumst. Morbi quam metus, rhoncus sed lorem eget, laoreet lacinia mauris. Phasellus porttitor ac nisl nec malesuada. Maecenas elementum metus sed sagittis viverra. Donec efficitur sed purus a sodales. Nulla eget posuere leo, eget congue quam. Vivamus molestie elementum justo, et vehicula elit mattis vitae. Fusce consequat ex ut erat aliquet, vel efficitur lorem tincidunt. Sed rhoncus sollicitudin ullamcorper. Etiam facilisis porttitor feugiat. Sed eu molestie ex. Fusce nec mi ullamcorper, finibus magna dapibus, pharetra sem. Cras quis ex et lectus mattis fringilla pulvinar non diam. Cras tempor nisi vel est mollis, ut hendrerit ipsum accumsan.
        </p>
    </div>
    <div class="column2">
        <img src="/Images/Oppenheimer.png" style="background-color:blueviolet; width:100%;" />
        <div id="castAndCrew" style="height:50%;">
        <p>
        </p>
        </div>
    </div>
    <div id="reviews">
        
    </div>
</div>
