@page
@model LandingPageModel
@{

        }
 <div>
    <form>
        <h3>Category</h3>
        <div class=" movie_in_list">
            <img src="" />
            <input type="submit" />
        </div>
        <div class=" movie_in_list">
            <img src="" />
            <input type="submit" />
        </div>
        <div class=" movie_in_list">
            <img src="" />
            <input type="submit" />
        </div>
        <div class=" movie_in_list">
            <img src="" />
            <input type="submit" />
        </div>
        <div class=" movie_in_list">
            <img src="" />
            <input type="submit" />
        </div>
    </form>
</div>
